body {
  background-color: #4c93c2;
  font: 12px 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}
textarea.edit {
  word-wrap: break-word;
  word-break: break-all;
  height: 60px;
  font-size: 13pt;
  width: 290px;
  background-color: #4c93c2;
  border: #4c93c2;
  color: white;
  outline: #4c93c2;
}


.game {
  position: absolute;
  left: 50px;
  top: 50px;
  display: table-cell;
  border-spacing: 0px;
  width: 240px;
  max-width: 400px;
}


.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  color: #fff;
  font-size: .75rem;
  line-height: 50px;
  margin-top: 10px;
  font-family: 'Comic Sans MS';
}
.btn.hide {
  cursor: default;
  opacity: 0;
}
.btn.wide {
  width: 100%;
  font-size: 20pt;
}
.edit {
  margin-top: 10px;
}

.btn.round {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
.btn.sort {
  background-color: #0C0;
  border-color: #0C0;
}
.btn.commit {
  background-color: red;
  border-color: red;
  float: right;
}

text {
  -webkit-user-select: none;
}
.rank-text {
  font-family: 'Marker Felt', 'Comic Sans MS', 'Arial';
}

.pull {
  margin-top: 15pt;
}

.pull .slot {
  outline: none;
}

.slot {
  display: inline-block;
  position: relative;
  cursor: default;
}

.board {
  margin-top: 30px;
}

.board .slot {
  width: 44px;
  height: 55px;
}

.inactive .buttons {
  opacity: 0;
}
.inactive .pull .slot{
  opacity: 0;
  cursor: default;
}
.pull .slot {
  width: 40px;
  height: 55px;
}
.discarded {
  margin-top: 10px;
}
.clicky {
  cursor: pointer;
}
.slot.pending {
  transform: translateX(-1px) translateY(-2px);
  outline: none;
  box-shadow: 1px 1px 3px #666;
}

.slot.next {
  transform: translateX(-1px) translateY(-2px);
  outline: none;
  box-shadow: 1px 1px 2px #AAA;
}
.board .row {
  display: table-row;
}
.row {
  position: relative;
}

.discarded .card {
  width: 24px;
}

.board .card {
  width: 44px;
}

.pull .card {
  -webkit-user-select: none;
  width: 44px;
}

.pull {
  height: 55px;
}

.card.blank {
  border: 1px transparent;
  border-radius: 0;
}

.card rect {
  fill: #FFF;
  stroke: #CCC;
  stroke-width: 3;
  rx: 25;
}
.active .card.blank rect {
  fill: #2db6c6;
  stroke: #73fe73;
}
.inactive .card.blank rect {
  fill: #4c93c2;
  stroke: #CCC;
}
.selected .card.blank rect {
  fill: #41d8a2;
}
.card.foul rect {
  fill: #cccccc;
}
.cards {
  display: table-cell;
}

.bonus {
  position: absolute;
  margin-left: 10px;
  transform: translateY(16px);
  font-family: 'Marker Felt';
  font-weight: bold;
  font-size: 15pt;
  line-height: 15pt;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg, white, #a6a693);
}

.bonus.fl {
  background-image: linear-gradient(180deg, orange, yellow, white);
}
